* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar {
    background-image: linear-gradient(to right, #a517ba, #5f1178);
}

.nav__li {
    padding: 15px;
}

.nav__a {
    text-decoration: none;
    color: white;
    text-decoration: 700;
}

.nav__a:hover {
    text-decoration: none;
    color: white;
}